;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[re-frame "0.10.9"]
  [reagent "0.8.1"]]

 :dev-http {8080 "public"}
 :builds
 {:webapp
  {:target :browser
   :modules {:main {:init-fn webapp.core/init}}}}}
